body {
    display: inline-block;
}
img {
    width: auto;
    height: auto;
}
ul {
    padding: 0;
    margin: 0;
}
#navbar {
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: rgb(211, 211, 211);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}
@keyframes logohover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#nav-bar-logo img {
    height: 80px;
}
#nav-bar-logo img:hover {
    animation-name: logohover;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}
#nav-bar-links li {
    display: inline-block;
    line-height: 80px;
}
@keyframes navbarlinkshover {
    from {
        color:rgb(0, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
        font-size: 1.3em;
    }
}
#nav-bar-links a {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}
#nav-bar-links a:hover {
    animation-name: navbarlinkshover;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    text-decoration: none;
}
#about {
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 80px;
}
#welcome-section {
    height: 100vh;
    text-align: center;
    color: rgb(211, 211, 211);
}
#welcome-section h1 {
    margin: 0;
    margin-top: 250px;
    font-size: 3em;
}
#welcome-section p {
    margin: 0;
    margin-top: 25px;
}
@keyframes project-items-hover {
    to {
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
        background-color: rgb(0, 0, 255);
        opacity: 0.9;
        transform: scale(1.05);
    }
}
@keyframes project-items-title-hover {
    to {
        background-color: rgb(211, 211, 211);
        color: rgb(0, 0, 0);
    }
}
#work {
    padding: 0 80px;
    padding-top: 130px;
    padding-bottom: 75px;
    background-color: rgb(211, 211, 211);
}
#work h2, #work h3 {
    text-align: center;
}
#projects {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    column-gap: 25px;
    row-gap: 25px;
}
.project-tile {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.project-tile:hover {
    animation-name: project-items-hover;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}
.proje.project-tile cts a:hover {
    text-decoration: none;
}
.project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "desktop desktop"
                        "mobile tablet";
    column-gap: 10px;
    row-gap: 10px;
}
.project-images img {
    width: 100%;
}
.project-images img:nth-child(1) {
    grid-area: desktop;
}
.project-images img:nth-child(2) {
    grid-area: mobile;
}
.project-images img:nth-child(3) {
    grid-area: tablet;
}
.project-title {
    margin-top: 10px;
    padding: 10px 0;
    background-color: rgb(0, 0, 255);
    color: white;
}
.projects:hover .project-title {
    animation-name: project-items-title-hover;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}
.project-title h3 {
    margin: 0;
}
#contact {
    padding: 0 80px;
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 255);
}
@keyframes viewall {
    to {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
        transform: scale(1.01);
        color: rgb(0, 0, 255);
    }
}
#work-viewall{
    text-align: center;
    margin-top: 75px;
}
#work-viewall a {
    padding: 20px;
    display: block;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}
#work-viewall a:hover {
    animation-name: viewall;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}
#contact {
    color: rgb(255, 255, 255);
    min-height: 310px;
}
#contact ul {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#contact li {
    text-align: center;
    list-style: none;
}
@keyframes contactlinks {
    to {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.9);
        color: rgb(0, 0, 255);
        font-weight: bold;
        font-size: 1.3em;
    }
}
#contact a {
    color: rgb(0,0,0);
    padding: 15px;
    background-color: rgb(211, 211, 211);
    font-size: 1.2em;
    text-decoration: none;
}
#contact a:hover {
    animation-name: contactlinks;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}
#creator-credit {
    text-align: center;
}
#creator-credit img {
    width:500px;
}
#creator-credit a:hover img {
    animation-name: logohover;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}
@media (max-width: 1200px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 800px) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    #projects {
        grid-template-columns: 1fr;
    }
    #work {
        padding: 0 20px;
        padding-top: 130px;
        padding-bottom: 75px;
    }
    #contact ul {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 50px;
    }
    #contact a {
        display: block;
        width: 100%;
    }
}